<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html style="height: 100%">
<head>
    <meta charset="utf-8">
    
    <title>Scientist's Site Website Template | WIX</title>
    <meta name="description" content="An easy-to-use template for the mad scientist inside of you. Upload photos, add text, link to publications, and publish lectures to customize your online base – just make sure to keep your acids separate! Get up and online today!">
    <meta name="author" content="Wixpress">
    <meta http-equiv="content-language" content="en"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <meta property="og:title" content="Scientist's Site Website Template | WIX"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.wix.com/website-template/view/html/1596"/>
    <meta property="og:image" content="http://static.wixstatic.com/media/af05c1e1f9dd4b77a1cfb900a7f5aeb9.jpg"/>
    <meta content="Wix" property="og:site_name">
    <meta property="og:description" content="An easy-to-use template for the mad scientist inside of you. Upload photos, add text, link to publications, and publish lectures to customize your online base – just make sure to keep your acids separate! Get up and online today!"/>
    <meta property="fb:admins" content="731184828"/>
    <meta name="fb:app_id" content="236335823061286"/>
    <meta name="google-site-verification" content="QXhlrY-V2PWOmnGUb8no0L-fKzG48uJ5ozW0ukU7Rpo"/>

        <link rel="canonical" href="http://www.wix.com/website-template/view/html/1596"/>

            <link rel="alternate" hreflang="fr" href="http://fr.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="pt" href="http://pt.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="cs" href="http://cs.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="it" href="http://it.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="nl" href="http://nl.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="ko" href="http://ko.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="de" href="http://de.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="ru" href="http://ru.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="sv" href="http://sv.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="tr" href="http://tr.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="da" href="http://da.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="en" href="http://www.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="es" href="http://es.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="hi" href="http://hi.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="ja" href="http://ja.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="no" href="http://no.wix.com/website-template/view/html/1596"/>
            <link rel="alternate" hreflang="pl" href="http://pl.wix.com/website-template/view/html/1596"/>
        <link rel="alternate" hreflang="x-default" href="http://www.wix.com/website-template/view/html/1596" />


    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/new-create/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-public/1.224.0/css/Helvetica/fontFace.css"/>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/css/template_viewer.css"/>


    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/css/ie9-and-down.css"/>
    <![endif]-->

    </head>
<body lang="en" style="height: 100%">
<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDD5C4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
            {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDD5C4');</script>
<!-- End Google Tag Manager -->
    
<script type="text/javascript">
    var backUrl = "http:\/\/www.wix.com\/website\/templates?criteria=scientist+site";
    var editUrl = "http://editor.wix.com/html/editor/web/renderer/new?metaSiteId=db5c0b0a-b834-475d-8c07-5d5e45428e10&siteId=4cd71a91-ae37-4522-8619-d6fdb6b6f935";
    var galleryDocIndex = "0";
    var originAppUrl = "http:\/\/www.wix.com\/website\/templates?criteria=scientist site";
    var W = W || {};
    W.App = W.App || {};
    W.App.CLIENT_CONFIG = {"biServerUrl":"http://frog.wix.com/spettatore_bi?src=2&openingSiteId=4cd71a91-ae37-4522-8619-d6fdb6b6f935&originAppUrl=http%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%3Fcriteria%3Dscientist+site&siteType=2"};
    W.App.currentViewMode = 'desktop';

    W.Globals = W.Globals || {};
    W.Globals.lang =  "en";
    var analytics = {"staging":false,"code":"UA-2117194-1","domain":"wix.com"};
    var openAsTab = true;

    //Storing dynamic text for responsive design
    var headerTxt = {};
    headerTxt.editButtonSmall = 'Edit';
    headerTxt.mainHeaderSmall = 'Create your own amazing website';
</script>

<!-- FACEBOOK CODE API-->
<div id="fb-root"></div>
<script>
    /* Facebook Like Button*/
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    /*Google+ */
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<!-- End of FACEBOOK CODE -->

<div id="container" class="template_viewer" style="height: 100%;">
    <div id="header">
        <div class="navigation">
            <div id="wixLogo">
                <a href="http://www.wix.com/">Wix Press</a>
            </div>
                            <div id="template-mode-toggle">
                    <div class="view-mode-toggle-button view-mode-toggle-button-desktop" data="desktop" title="Desktop view"></div>
                    <div class="view-mode-toggle-button view-mode-toggle-button-mobile" data="mobile" title="Mobile view"></div>
                </div>
                        <div class="templateDetails" itemscope itemtype="http://schema.org/Product/WebsiteTemplate">
                <meta itemprop="name" content="Scientist's Site"/>
            </div>
            <!-- End of .templateDetails-->
            <div class="templatesButtons">
                <span id="templatesName">Click Edit and create your own amazing website</span> <a id="readMore"
                                                                                                           href="#">Read more</a>
                <meta itemprop="image" content="http://static.wixstatic.com/media/af05c1e1f9dd4b77a1cfb900a7f5aeb9.jpg"/>
                <a href="#" class="button" id="editButton">Edit this site<span>&nbsp;</span></a>
                <span id="categoriesHolder">

                </span>
                <span class="priceTypeWrapper"> Price: <span
                        id="priceType">Free</span></span>
                <span class="html5icon"></span>

                <div class="socialButtons">
                    <div class="socialButtonsContent">
                        <div class="facebookWrapper">
                            <div class="fb-like" data-send="false" data-layout="button_count"
                                 data-show-faces="true"></div>
                        </div>
                        <div class="googlePlusWrapper">
                            <g:plusone size="medium"></g:plusone>
                        </div>
                    </div>
                    <!-- end of .socialButtonsContent -->
                </div>
                <!-- end of .socialButtons -->
            </div>
        </div>
        <!-- End of .navigation-->
    </div>
    <!-- End of #Header-->
    <div id="headerShadows">
        <div class="rightShadow"></div>
        <div class="leftShadow"></div>
    </div>
    <!-- End of #HeaderShadows-->
    <div class="contentWrapper" style="height: calc(100% - 46px);">
                                    <div class="preview-tab preview-tab-desktop" style="height: 100%">
                <iframe src="http://www.wix.com/demone2/scientist-site" width="100%" height="100%"></iframe>
            </div>
        
        <!--</div>--><!-- End of .content-->
    </div>
    <!-- End of .contentWrapper-->

    <div id="dialog-overlay"></div>
    <div id="dialog-box">
        <a id="close-pop-up-button" href="#">Close Pop Up Button</a>
        <div class="dialog-content">
            <h1 class="dialog-title">&#8216;Scientist's Site&#8217; - Website Template</h1>
            <div class="leftColumn">
                <h3>Good For:</h3>

                <div id="dialog-good-for">Scientists, academics, professors, lecturers</div>
                <h3>Description:</h3>

                <div id="dialog-description" itemprop="description">An easy-to-use template for the mad scientist inside of you. Upload photos, add text, link to publications, and publish lectures to customize your online base – just make sure to keep your acids separate! Get up and online today!</div>
            </div>
            <div class="rightColumn">
                                                                <span>
					<h3>Difficulty:&nbsp;</h3>
					<div id="dialog-difficulty" itemprop="difficulty">Medium</div>
				</span>
				<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<h3>Price:&nbsp;</h3>
					<div id="dialog-price" itemprop="price">Free</div>
					<link itemprop="availability" href="http://schema.org/InStock"/>
				</span>
                <a href="#" id="dialog-edit-now">Edit now</a>
            </div>
            <div class="clearBoth">&nbsp;</div>
        </div>
        <div class="dialog-box-shadows">
            <div class="leftShadow"></div>
            <div class="rightShadow"></div>
        </div>
    </div>
    <!-- End of #dialog-box-->

</div>
<!-- End of #container-->

<!--Scripts after page loads-->
<script src="http://static.wix.com/services/third-party/jquery/1.4.3/min/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/js/components/scrollbar/custom-scrollbar.js"></script>
<script type="text/javascript" src="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/js/common.js"></script>
<script src="//static.parastorage.com/services/wix-html-template-viewer/1.953.0/js/template_viewer.js" type="text/javascript"></script>

        

<div style="visibility: hidden">view_template_v.vm</div>
<script type="text/javascript">
            window.templateEditUrl = 'http://editor.wix.com/html/editor/web/renderer/new?metaSiteId=db5c0b0a-b834-475d-8c07-5d5e45428e10&siteId=4cd71a91-ae37-4522-8619-d6fdb6b6f935';
    </script>
</body>
</html>
